html
  head
    title Token view
  body
    h1 Token

    pre= user
  
    a(href=cfg.paths.resourceData) Get user data 
    p
    a(href=cfg.paths.resourceOrganizationsData) Get user organizations
    p
    a(href=cfg.paths.resourceJobProfileData) Get user job profile

